# pip install -r requirements.txt  # to install packages from bash
yt-dlp[default]

# pip list # see whats installed and what version
# pip freeze > requirements.txt # write used packages to the requirements file
# pip uninstall numpy  # to remove a package




